{% macro header() %}
<div class="header">
    <h1 class="site-title"><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    <p class="site-tagline">{{ config.description }}</p>
    <div class="nav">
        <a class="nav-btn" href="#">
            <span class="ci ci-burger"></span>
        </a>
        <ul class="nav-list">
            {% if config.extra.slim_menu %}
            {% for item in config.extra.slim_menu %}
            <li><a href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a></li>
            {% endfor %}
            {% endif %}
            <li class="spacer">&ac;</li>
            {% if config.extra.slim_social %}
            {% for item in config.extra.slim_social %}
            <li><a href="{{ item.url | safe }}">{{ item.name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endmacro header %}

{% macro post_header(page) %}
<h2 class="post-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
<div class="post-header">
    <span class="post-date">{{ page.date | date(format="%B %d, %Y") }}</span>
    {% if page.taxonomies.tags %}
    <div class="post-tags">
        {% for tag in page.taxonomies.tags %}
        <span class="post-tag">#<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro post_header %}

{% macro list_pages(pages) %}
{% for page in pages %}
<div class="post">
    {{ self::post_header(page=page) }}
    {% if config.extra.slim_summary %}
    {% if page.summary %}
    <div class="summary">
        {{ page.summary | safe | striptags }}
        <a class="read-more" href="{{ page.permalink }}">&hellip;</a>
    </div>
    {% endif %}
    {% elif config.extra.slim_content %}
    <div class="content">
        {{ page.content | safe | striptags }}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endmacro list_posts %}

{% macro pagination(paginator) %}
<div class="pagination">
    {% if paginator.previous %}
    <a rel="prev" href="{{paginator.previous}}" class="btn previous">Newer</a>
    {% endif %}
    {% if paginator.next %}
    <a rel="next" href="{{paginator.next}}" class="btn next">Older</a>
    {% endif %}
</div>
{% endmacro paginator %}

{% macro footer() %}
<div class="footer">
    {% if config.extra.slim_footer %}
    <p>{{ config.extra.slim_footer | safe }}</p>
    {% else %}
    <p>Powered by <a href="https://getzola.org">Zola</a> with <a href="https://github.com/jameshclrk/zola-slim">Slim</a> theme</p>
    {% endif %}
</div>
{% endmacro footer %}

{% macro polish(content) %}
    {{ content |
       replace(from=":smile:", to="😄") |
       replace(from=":sushi:", to="🍣") |
       replace(from=":rice_ball:", to="🍙") |
       replace(from=":ramen:", to="🍜") |
       replace(from=":egg:", to="🥚") |
       replace(from=":+1:", to="👍") |
       replace(from=":thumbsup:", to="👍") |
       replace(from=":stuck_out_tongue:", to="😛") |
       replace(from=":grinning:", to="😀") |
       replace(from=":frowning:", to="😦") |
       replace(from=":heart:", to="❤") |
       replace(from=":disappointed:", to="😞") |
       replace(from=":tada:", to="🎉") |
       replace(from=":dumpling:", to="🥟") |
       replace(from=":goodbye:", to="👋") |
       replace(from=":wave:", to="👋") |
       replace(from=":hello:", to="👋") |
       replace(from=":coffee:", to="☕") |
       replace(from=":tea:", to="☕") |
       replace(from=":ant:", to="🐜") |
       replace(from=":gear:", to="⚙️") |
       replace(from=":book:", to="📖") |
       replace(from=":run:", to="🏃") |
       replace(from=":swords:", to="⚔️") |

       safe
    }}
{% endmacro content %}
